<footer id="footer">
    <div class="inner">
      <div class="content">
          <section>
              <h4>Harta</h4>
              <iframe width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.309033310849!2d21.252906315774236!3d45.76499662134228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4745676c2f240cd9%3A0x6bb7549196de2200!2sStrada+Rena%C5%9Fterii+17%2C+Timi%C8%99oara%2C+Romania!5e0!3m2!1sen!2sus!4v1551192077263" frameborder="0" style="border:0" allowfullscreen></iframe>
          </section>
          <section>
							<h4>Orar clinica</h4>
							<ul class="alt">
                <li><span >Luni - Vineri</span><span class="float-right">8:00-20:00</span></li>
                <li><span >Sambata</span><span class="float-right">Inchis</span></li>
                <li><span >Duminica</span><span class="float-right">Inchis</span></li>
							</ul>
            </section>
            <section class="float-right">
                <h4>Contact</h4>
                <ul class="alt">
                  <li><span >Telefon Fix</span><span class="float-right">0256220614</span></li>
                  <li><span >Telefon Mobil</span><span class="float-right">0728386786</span></li>
                  <li><span >Email</span><span class="float-right">contact@clinicadrwalter.ro</span></li>
                </ul>
              </section>
              
      </div>
      <div class="copyright">
        © 2019 Clinca Dr. Walter
      </div>
    </div>
  </footer>