#heading {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    background-color: #111111;
    color: rgba(255, 255, 255, 0.5);
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-image: linear-gradient(rgba(17, 17, 17, 0.25), rgba(17, 17, 17, 0.25)), url(/assets/imgs/bg-dark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0;
    display: -ms-flexbox;
    height: 15rem !important;
    min-height: 15rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
#heading:before {
    background: linear-gradient(135deg, #663399 0%, #05791e 150%);
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
#heading h1 {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    color: white;
}
.wrapper {
    padding: 8rem 0 6rem 0;
    position: relative;
    z-index: 1;

    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    margin: 0 auto;
}
.container{
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);
    margin-bottom: 2rem;
    padding: 3rem;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background: linear-gradient(135deg, #663399 0%, #05791e 150%);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:100%;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
.inner {
    margin: 0 auto;
    width: 75rem;
    max-width: calc(100% - 6rem);
}
@media only screen and (max-width: 480px){
    .wrapper {
        padding: 2rem 0 0.1rem 0;
    }
    .inner{
        max-width: calc(100% - 2rem);
    }
}