<div class="wrapper">
  <div class="inner">
    <div class="container">
      <header>
        <h2>{{getSpec()}}</h2>
      </header>
      <hr>
      <div *ngFor="let text of getText(); index as i">
        <p *ngIf="(i==4 || i==5) && getId() != 8 ;else normalText" style="text-align: center"><b>{{text}}</b></p>
        <ng-template #normalText><p>{{text}}</p></ng-template>
        <hr>
      </div>
     <div style="text-align: center"> <img width="50%" src="{{getImg()}}"></div>
    </div>
      
  </div>